<div class="row justify-content-center align-items-center">
  <% @articles.each do |article| %>
    <div class="card m-3 col-8">
      <div class="card-body">
        <h5 class="card-title"><%= link_to(article.title, article_path(article)) %></h5>
        <p class="card-text"><%= article.content %></p>
        <%= link_to("Edit", edit_article_path(article), class: "card-link") %>
        <%= link_to("Destroy", article_path(article), method: "delete", data: { confirm: "Destroy #{article.title}?" }, class: "card-link") %>
      </div>
    </div>
  <% end %>
</div>
