<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <%= link_to("Wikinimous", articles_path, class: "navbar-brand") %>
  <%= link_to "New article", new_article_path, class: "btn btn-outline-success my-2 my-sm-0" %>
  <!-- <button class="btn btn-outline-success my-2 my-sm-0">New article</button> -->
</nav>
